.controls {
    margin: 40px 0;
    display: flex;
}
.controls__wrapper {
    display: flex;
}
.controls__title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.controls__menu {
    font-size: 14px;
    background: transparent;
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin: 0 50px;
    }
}
.controls__menu_text {
    font-size: 18px;
    margin-right: 14px;
    font-weight: 100;
}

.icon {
    transform: rotate(180deg);
}
.icon.sorted {
    transform: rotate(360deg);
}