.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 380px;
    margin-bottom: 28px;
    &:not(:nth-child(3n + 3)) {
        margin-right: 10px;
    }
}
.card__preview {
    position: relative;
    height: 264px;
}
.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__information {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f3f3f3;
    flex: 1;
}
.card__description {
    margin: 22px 0;
    flex: 1;
}
.card__price {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.card__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.card__button {
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    line-height: 19.5px;
    color: #fff;
    background-color: #6ebbd3;
}
.card__button-sold {
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    line-height: 19.5px;
    color: #fff;
    background-color: #1f2021;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__icons_discount {
    background-color: #e52d2d;
    border-radius: 10px;
    color: #fff;
    padding: 8px 20px;
    min-width: 74px;
}
.card__icons_discount-none {
    background-color: transparent;
    visibility: hidden;
}

.card__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 34px;
}
.card__icons_button {
    height: 46px;
    width: 46px;
    background: transparent;
    padding: 0;
}
.card__icons_button-active {
    height: 46px;
    width: 46px;
    background: transparent;
    padding: 0;
    .icon__heart path {
        fill: #e52d2d;
        opacity: 1;
    }
}
.icon__heart path {
    opacity: 0.55;
    transition: 0.2s linear;
    &:hover {
        fill: #e52d2d;
    }
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    :not(:last-child) {
        margin-right: 10px;
    }
}
.description__item {
    flex: 1;
    font-size: 12px;
    line-height: 14.63px;
}
.description__item_color {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 26px;
        width: 4px;
        background-color: #6ebbd3;
        left: -20%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
