.menu {
    width: 45px;
    height: 35px;
    position: fixed;
    top: 1%;
    left: 0;
    z-index: 3;
    &:hover {
        cursor: pointer;
    }
}

.menu div {
    width: 35px;
    height: 5px;
    background: rgb(223, 212, 212);
    margin: 5px;
    transition: transform ease-in 0.35s;
    border-radius: 2px;
}

.menu__line-top.opened {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #e52d2d;
}
.menu__line-middle.opened {
    opacity: 0;
}
.menu__line-bottom.opened {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: #e52d2d;
}

.burger {
    position: fixed;
    min-width: 100%;
    z-index: 2;
    height: 100%;
    left: -100%;
    top: 0;
    transition: transform 0.45s ease-in-out;
}
.burger.active {
    transform: translate(100%, 0);
}

.burger__nav {
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


