.App {
    height: 100%;
}
.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page.fixed {
    overflow: hidden;
}

#root {
    height: 100%;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f3f3f3;
    font-family: "Roboto";
    position: relative;
}


main {
    flex: 1 0 auto;
    background-color: #fff;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section__image {
    object-fit: contain;
    width: 265px;
    height: 256px;
}
.section__title {
    font-weight: 400;
    font-size: 44px;
    margin: 10px 0;
}
.section__title-error {
    font-weight: 900;
    font-size: 120px;
}
// /. general pages styles


.button {
    background-color: #6ebbd3;
    border-radius: 10px;
    padding: 22px 74px;
}

.bold {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

svg {
    flex-shrink: 0;
}

.gallery {
    margin: 30px 0 84px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.gallery__button {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 22px 126px;
    background-color: transparent;
    margin: 0 auto 20px auto;
    transition: 0.15s linear;
    &:hover {
        background-color: #abadad;
    }
}

.pagination {
    width: 58px;
    height: 58px;
    background-color: #6ebbd3;
    position: absolute;
    right: 0;
    bottom: 0;
    &:hover .icon__arrow path {
        fill: #abadad;
        transition: 0.1s linear;
    }
}
// /. main page styles
